/*
 * Side_nav_bar css File
*/

.SideNavBar {
  /* propertys here */
  position: absolute;
  padding: 60px 30px 0px 30px;
  flex: 1;
  background: rgb(238, 103, 143);
  background: linear-gradient(
    180deg,
    rgba(238, 103, 143, 1) 50%,
    rgba(132, 124, 252, 1) 80%
  );
}
